@import '../../variables';

.pages-home-header {
  margin-top: 6rem;
  margin-bottom: 3rem;
  text-align: center;

  h2 {
    margin-top: 2rem;
    letter-spacing: 0.1625em;
    font-weight: bold;
    text-transform: uppercase;
  }

  p {
    margin-bottom: 0.5rem;

    &:first-child, &:last-child {
      margin-bottom: 2rem;
    }
  }

  &-social-links {
    display: flex;
    justify-content: center;
    
    a {
      font-size: 3em;
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
  }
}