@import "~skeleton-css/css/normalize.css";
@import "~skeleton-css/css/skeleton.css";

body {
  background-color: #f9f9f9;
  font-family: "Varela Round", sans-serif;
}

// TODO: No separate classes for these, use e.g. mixin for media query:

@media (max-width: 550px) {
  .text-align-center-small {
    text-align: center;
  }
}