@import '~skeleton-css/css/normalize.css';
@import '~skeleton-css/css/skeleton.css';

@import 'variables';

body {
  background-color: #f9f9f9;
  font-family: 'Varela Round', sans-serif;
}

.app {
  // TODO: No separate classes for these, use e.g. mixin for media queries:
  @media (max-width: $media-breakpoint-small) {
    .text-align-center-small {
      text-align: center;
    }
  }

  .animated-link {
    color: black;
    transition: color 0.15s;
    text-decoration: none;

    &:hover {
      color: $color-primary;
    }

    &:active {
      color: $color-primary-dark;
    }
  }
}
